* {
  margin: 0;
  padding: 0;
}
.Navbar {
  display: flex;
  height: 13vh;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.281);
  position: fixed;
}

.logo {
  height: 100%;
  flex: 4;
  min-width: 280px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.firstImgBox{
  margin-right: 20px;
  margin-left: 20px;
  
}
.firstImg{
 color: #10d876;
 height: 50px;
 
}
.secongImg{
  font-size: 32px;
  line-height: 90px;
  color: #0055ff;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: Fredoka One,cursive;
  cursor: pointer;
}

.searchBox {
  flex: 4;
  min-width: 350px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logoBox {
  flex: 12;
  background-color: pink;
  display: flex;
}
.leftSideLogo {
  flex: 4;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logocss{
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logostylingactive{
  padding: 10px;
  color: #1E74FD !important;
  background-color: #d2e3ff !important;
  border-color: #bcd5fe !important;
  border-radius: 50%;
}

.logostyling{
  padding: 10px;
  color: rgba(128, 128, 128, 0.603) !important;
  background-color: #f5f5f5 !important;
  border-radius: 50%;
}
.rightSideLogo {
  flex: 6;
  background-color: white;
  display: flex;
  justify-content: end;
  align-items: center;
}

.RSlogoStyle{
width: 13%;
height: 100%;
background-color: white;
display: flex;
justify-content: center;
align-items: center;
color:#0055ff;
}



/* 1200 */

/* 990 */

@media only screen and (min-width: 0px) and (max-width: 1200px) {
  .Navbar {
    height: 63px;
    width: 100%;
    background-color: red;
  }
}
 @media only screen and (max-width: 990px)  {
     .leftSideLogo {
       flex: 0;
       background-color: white;
     }
    .rightSideLogo {
        flex: 12;
        background-color: aqua;
      } 
} 
